/* ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
  }
  
.rq li:before {
    content: "RQ #" counter(elementcounter) ". ";
    counter-increment: elementcounter;
    font-weight: bold;
  } */